
label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TaskH {
  color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.Tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BtnD {
  background-color: red;
  color: black;
}

.BtnC-complete {
  background-color: green;
}

.TaskBlock {
  border: solid 2px black;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  max-width: 40vh;
  position: relative;
  left: 39%;
}

.TaskBlock.Completed {
  background-color: green;
}

.TaskBlocks {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
   margin-bottom: 10px;
  padding: 5px;
  max-width: 370px;
  position: absolute;
  top: 28%;
  right: 0px;
  text-align: center;
  min-width: 370px;
}
